body {
    background: url(../site_images/background-v07.png) top left #b9b5b3;
    font-family: 'Open Sans' Arial sans-serif;
    font-size: 80%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman" serif;
    font-weight: bold;
    text-align: left;
    color: #b21227;
}

p {
    padding: 5px 0;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}
h4 {
    font-size: 100%;
}
h5 {
    font-size: 100%;
}

h6 {
    font-size: 100%;
}

a {
    color: #b21227;
}

a:visited {
    color: #ae6673;
}

a:hover {
    color: #ff4a1e;
}

div#container {
    width: 960px;
    margin: 30px auto 10px auto;
}

div#banner h1, div#banner h2 {
    font-family: 'Tangerine' cursive;
    clear: both;
    background: transparent;
    color: white;
    text-align: center;
    font-weight: normal;
}

div#banner h1 {
    font-size: 350%;
}

div#banner h2 {
    font-size: 250%;
}

span.first {
    font-size: 150%;
}


div#header {
    border-radius: 30px;
    /*border: solid 1px #b21227;*/
    background-color: #000000;
    padding: 30px;
    text-align: center;
    width: 900px;
    height: 300px;
}

div#header * {
}

div#innerHeader {
    background: transparent;
    width: 440px;
    float: left;
}

div.headerImage {
    width: 200px;
    height: 250px;
    background-color: transparent;
    margin-top: 10px;
}

div#leftImage {
    float: left;
}

div#rightImage {
    float: right;
}

div#contactDetails {
    width: 900px;
    float: left;
    background: transparent;
    padding-bottom: 20px;
}

div#contactDetails p {
    color: white;
    font-size: 130%;
}

div#contactDetails a {
    color: white;
}

div#contactDetails a:hover {
    color: #b21227;
}

div#contactDetails a:visited {
    color: #f28a9f;
}


div#contactDetails .leftFloat {
    float: left;
}

div#contactDetails .rightFloat {
    float: right;
}

div#leftColumn {
    border-radius: 30px;
    background-color: #b21227;
    width:190px;
    height:400px;
    margin-right: 10px;
    padding-top: 20px;
    float:left;
}

div#content {
    border-radius: 30px;
    padding: 50px 50px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width:660px;
    float:left;
}

div#footer {
    clear:both;
    text-align:center;
}

ul.mainLinkBar {
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

ul.mainLinkBar li {
    border-radius: 15px;
    background-color: #ffffff;
    display: inline;
    padding: 5px 20px;
    margin-top: 15px;
}

ul.mainLinkBar li a {
    color: black;
}

ul.mainLinkBar li a:visited {
    /*color: #000000;*/
    color: #8a8188;
}

ul.mainLinkBar li a:hover {
    /*color: #8a8188;*/
    color: #e09cab;
}

div#leftColumn ul {
    text-align: center;
}

div#leftColumn ul li {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    display: inline;
    padding: 3px 20px;
    margin-left: 10px;
    margin-bottom: 3px;
    float: left;
    width: 130px;
}

div#leftColumn ul li a {
    color: black;
}

div#leftColumn ul li a:visited {
    color: #8a8188;
}

div#leftColumn ul li a:hover {
    color: #e09cab;
}

div#pageText img.imageTop {
    display: block;
    width: 150px;
    margin: 0 auto;
}