@import "_css-mode.scss";

body {
  min-width: 900px;
  margin: 0;
  background: #fff2ef;
  color: #0d2cdb;
  font-size: medium;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body#editIndex {
  min-width: 1350px;
}

body#editIndex td a {
  color: #0d2cdb;
  font-weight: bold;
}

li.headerLink a {
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Times New Roman", serif;
  font-size: 80%;
}

div#bannerText {
  width: 500px;
  margin: 0 auto 20px auto;
}

div#bannerText img {
  width: 500px;
}

div#bannerText h1, div#bannerText h2 {
  margin: 0 0 5px 0;
  padding: 0;
  font-family: cursive;
  font-weight: normal;
  color: #aa0000;
  text-align: center;
  line-height: 150%;
}

span.first {
  font-size: 150%;
}

div#bannerText h1 {
  padding-top: 5px;
  font-size: 300%;
}

div#bannerText h2 {
  font-size: 130%;
}

div.header {
  margin: 20px auto 0 auto;
  width: 80%;
  /*background-color: #330000;*/
  text-align: center;
}

div.header ul {
  padding: 0;
  margin: 0 20px 5px 20px;
}

div.header ul li {
  list-style: none;
  margin-left: 5px;
  display: inline;
}

div#pageText ul {
  padding: 0;
  margin: 0 20px 5px 20px;
}

div#pageText ul li {
  list-style: none;
  margin-left: 5px;
}

div#pageText ul li a {
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Times New Roman", serif;
  font-size: 100%;
}

li.headerLink a:visited, body#editIndex td a:visited, div#pageText ul li a:visited {
  color: #8683db;
}

a {
  color: purple;
}

a:visited {
  color: #46b144;
}

/*
div#colLeft, div#colRight {
  width: 150px;
  height: 900px;
}

div#colLeft {
  float: left;
}

div#colRight {
  float: right;
}

*/

div#colMiddle {
  margin: 0 0 0 10px;
}

div#pageText {
  text-align: center;
  font-size: 75%;
  line-height: 20px;
}

img.imageTop {
  height: 250px;
}

h1, h2, h3 {
  font-family: sans-serif;
  color: #1429db;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

div#pageText blockquote {
  /*font-size: larger;*/
  font-size: 120%;
  font-family: serif;
  font-style: italic;
}

div#pageText a {
  color: #D20000;
}

div#pageText ul {
  margin: 0 20%;
  text-align: left;
}

table.gallery {
  margin-left: auto;
  margin-right: auto;
}

table.gallery td {
  /*height: 120px;
  width: 120px;*/
  /*background: #222;*/
  background: #3c090a;
  border: #ff9a95 solid 1px;
}

table.gallery td a {
  display: block;
}

table.gallery td a img {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
}

div#image img {
  max-width: 800px;
  display: block;
  margin: 10px auto;
}

div#editForm {
  min-width: 700px;
}

div#editForm td {
  font-size: .75em;
}

div#editForm col.label {
  min-width: 150px;
}

table tr.statusRow {
  font-size: 120%;
}

table tr.statusRow.none {
  background-color: transparent;
  color: white;
}

table tr.statusRow.info {
  background-color: #46b144;
  color: #063f05;
}

table tr.statusRow.error {
  background-color: #ff706b;
  color: #6f0e0b;
}

table tr.statusRow.warning {
  background-color: #ff8e3a;
  color: #5d3317;
}

body#editIndex table td {
  font-size: .75em;
}

body#editIndex table tr.tableHeading {
  border-bottom: solid #1429db 1px;
}

body#editIndex table tr.tableHeading td {
  color: #2f338c;
  font-weight: bold;
}

