<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/lda_v02</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">OC7AaWC77B</property>
        <property name="show_sql">true</property>
<!--
        <property name="c3p0.max_size">1</property>
        <property name="c3p0.min_size">0</property>
        <property name="c3p0.timeout">5000</property>
        <property name="c3p0.max_statements">100</property>
        <property name="c3p0.idle_test_period">300</property>
        <property name="c3p0.acquire_increment">2</property>
-->
        <mapping class="co.uk.genonline.simpleweb.model.bean.ScreenType"/>
        <mapping class="co.uk.genonline.simpleweb.model.bean.ScreenTypeEntity"/>
        <mapping class="co.uk.genonline.simpleweb.model.bean.ScreensEntity" />
        <mapping class="co.uk.genonline.simpleweb.model.bean.ConfigurationEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>