body {
  background: url(../site_images/background-v06.png) top left #b9b5b3;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 80%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  text-align: left;
  color: #b21227; }

#pageText h1 {
  color: #b21227;
  border-top: solid #b21227;
  border-bottom: solid #b21227; }

p {
  padding: 5px 0;
  color: black; }

h1 {
  font-size: 160%; }

h2 {
  font-size: 140%; }

h3 {
  font-size: 120%; }

h4 {
  font-size: 100%; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 100%; }

a {
  color: #b21227; }

a:visited {
  color: #ae6673; }

a:hover {
  color: #ff4a1e; }

div#container {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto 10px auto; }

div#banner h1, div#banner h2 {
  font-family: "Tangerine", cursive;
  background: transparent;
  color: white;
  text-align: center; }

div#banner {
  background: black; }

div#banner h1 {
  font-size: 20px;
  height: 30px;
  vertical-align: middle; }

span.first {
  font-size: 150%; }

div#header {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: auto;
  background: black;
  font-size: 25%; }

div#innerHeader {
  background: transparent;
  float: left; }

div.header-image {
  width: 15%;
  display: inline-block;
  background-color: transparent;
  vertical-align: top; }

div.header-image img {
  max-width: 75px; }

div#upperHeader {
  float: left;
  background: transparent; }

div#upperHeader p {
  color: white;
  font-size: 130%;
  width: 250px;
  display: inline; }

div#upperHeader a {
  color: white; }

div#upperHeader a:hover {
  color: #b21227; }

div#upperHeader a:visited {
  color: #f28a9f; }

div#upperHeader p.leftFloat {
  /*
      float: left;
  */
  text-align: left; }

div#upperHeader p.rightFloat {
  /*
      float: right;
  */
  text-align: right; }

div.contact {
  padding-left: 5px;
  margin-bottom: 3px;
  text-align: left;
  height: 30px;
  background-color: #ffffff; }

div.contact img {
  max-height: 16px;
  vertical-align: middle; }

div.contact p {
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #cf152d;
  font-size: 12px; }
  div.contact p a {
    color: #cf152d; }
  div.contact p a:visited {
    color: #720711; }
  div.contact p a:hover {
    color: #fc5c39; }

div.contact.left {
  float: left;
  text-align: left; }

div.contact.right {
  float: right;
  text-align: right; }

div#leftColumn {
  margin-right: 10px;
  float: left; }

div#rightColumn {
  margin-left: 10px;
  float: right; }

div#mainNav {
  z-index: 99;
  position: relative; }

div#content {
  border-radius: 30px;
  padding: 50px 10px;
  margin: 5px auto 10px auto;
  background-color: #ffffff;
  min-height: 310px; }

div#footer {
  clear: both;
  text-align: center; }

div#footer {
  clear: both;
  background: black;
  color: #3f3f3f;
  font-size: 50%;
  text-align: center; }

ul.mainLinkBar li {
  border-radius: 15px;
  background-color: transparent;
  display: inline-block;
  padding: 5px 5px;
  line-height: 30px; }

ul.mainLinkBar {
  text-align: center;
  width: 210px;
  display: inline-block;
  margin-top: 50px; }
  ul.mainLinkBar li img {
    width: 40px;
    display: block;
    margin: 0 auto; }

ul.mainLinkBar li a {
  color: #b21227; }

ul.mainLinkBar li a:visited {
  /*color: #000000;*/
  color: #8a8188; }

ul.mainLinkBar li a:hover {
  /*color: #8a8188;*/
  color: #e09cab; }

div.sideColumn {
  padding-top: 10px;
  border-radius: 30px;
  background-color: #b21227;
  width: 150px;
  height: 400px; }

div.sideColumn ul {
  text-align: center; }

div.sideColumn ul li {
  text-align: center;
  border-radius: 7px;
  background-color: #ffffff;
  display: inline;
  padding: 1px 10px;
  width: 110px;
  margin-bottom: 3px; }

div.sideColumn ul li a {
  color: black;
  font-size: 0.8em; }

div#leftColumn ul li {
  margin-left: 10px;
  float: left; }

div#rightColumn ul li {
  margin-right: 10px;
  float: right; }

div.sideColumn ul li a:visited {
  color: #8a8188; }

div.sideColumn ul li a:hover {
  color: #e09cab; }

div.sideColumn h1 {
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px; }

div#pageText img.imageTop {
  display: block;
  width: 150px;
  margin: 0 auto; }

div#pageText blockquote {
  /*
      font-family: "Tangerine", cursive;
  */
  border-radius: 20px;
  font-size: 1em;
  font-style: italic;
  background: #F7F1F1;
  color: #cf152d;
  margin: 10px 20px;
  padding: 10px 20px; }
  div#pageText blockquote em {
    color: red; }

div#pageText ul li {
  list-style: square outside;
  margin-left: 18px; }

@media (min-width: 800px) {
  div#content {
    padding-top: 30px;
    margin-top: 50px; }

  div#banner h1 {
    font-size: 40px;
    height: 60px; }

  div.contact {
    width: 47%;
    display: inline-block; }

  div#contact-email {
    text-align: right; }

  ul.mainLinkBar {
    width: 250px; }
    ul.mainLinkBar li img {
      width: 50px; } }
/*
@if $public {
  body {
    background: #b9b5b3;
  }
}

    div.headerImage {
        background: green;
    }

    div.headerImage img {
        display: none;
    }

    div#banner h1, div#banner h2 {
        color: #363636;
    }

    div#upperHeader a, div#upperHeader p {
        color: #363636;
    }

    div#upperHeader a:hover {
        color: #525021;
    }

    div#upperHeader a:visited {
        color: #52151d;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #ffc3c0;
    }

    p {
        color: #cccccc;
    }

    div#pageText blockquote {
        color: #cf7a6b;
    }

}
*/

/*# sourceMappingURL=mistress-04.css.map */
