<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <listener>
        <listener-class>
            co.uk.genonline.simpleweb.web.ContextListener
        </listener-class>
    </listener>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <context-param>
        <param-name>homePage</param-name>
        <param-value>lucina</param-value>
    </context-param>
    <context-param>
        <param-name>galleryRoot</param-name>
        <param-value>galleries</param-value>
    </context-param>
    <context-param>
        <param-name>numGalleryColumns</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>maxThumbnailWidth</param-name>
        <param-value>130</param-value>
    </context-param>
    <context-param>
        <param-name>maxThumbnailHeight</param-name>
        <param-value>130</param-value>
    </context-param>
    <context-param>
        <param-name>maxImageWidth</param-name>
        <param-value>800</param-value>
    </context-param>
    <context-param>
        <param-name>maxImageHeight</param-name>
        <param-value>800</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>view?screen=lucina</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>co.uk.genonline.simpleweb.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/editIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/viewImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
</web-app>
